{% extends 'base.html.twig' %}

{% block title %}Atelier
{% endblock %}

{% block body %}
	<h1>Atelier</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ atelier.id }}</td>
			</tr>
			<tr>
				<th>Libelle</th>
				<td>{{ atelier.libelle }}</td>
			</tr>
			<tr>
				<th>NbPlacesMaxi</th>
				<td>{{ atelier.nbPlacesMaxi }}</td>
			</tr>
			<tr>
				<th>Theme(s)</th>
				<td>
					{% for theme in atelier.themes %}
						{{ theme.libelle }},
					{% endfor %}
                    
				</td>
			</tr>
            <tr>
				<th>Vacation(s)</th>
				<td>
					{% for theme in atelier.vacations %}
						{{ theme.dateHeureDebut|date('d m Y H:i') }} | {{ theme.dateHeureFin|date('H:i') }} <br>
					{% endfor %}                   
				</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('atelier_index') }}">back to list</a>

	<a href="{{ path('atelier_edit', {'id': atelier.id}) }}">edit</a>

	{{ include('atelier/_delete_form.html.twig') }}
{% endblock %}
