{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
	</style>

	<div class="example-wrapper">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="alert alert-error">
				{{ message }}
			</div>
		{% endfor %}
		<h1>Inscription</h1>
		<div>
			<p>Nom :
				{{ app.user.licencie.nom }}</p>
			<p>Prenom :
				{{ app.user.licencie.prenom }}</p>
			<p>Adresse :
				{{ app.user.licencie.adresse1 }}</p>
			<form method="post" action="{{ path('inscription_changeEmail') }}">
				<label for="inputEmail">Adresse mail :
				</label>
				<input type="email" value="{{ app.user.email }}" name="email" id="inputEmail" class="form-control" required autofocus>
				<button class="btn btn-lg btn-primary" type="submit">
					Modifier
				</button>
			</form>

		</div>
		<hr>
		<div>
			<p>Numéro de licence :
				{{ app.user.numLicence }}</p>
			<p>Club :
				{{ app.user.licencie.club.nom }}</p>
			<p>Qualité :
				{{ app.user.licencie.qualite.libelle }}</p>
		</div>
		<hr>
		<form action="{{ path('inscription_submit')}}" method="post">
			<div>
				<h2>Choix des ateliers (5 ateliers maximum)</h2>
				{% for message in app.flashes('errorAtelier') %}
					<div class="alert alert-error">
						{{ message }}
					</div>
				{% endfor %}
				{% for atelier in ateliers %}
					<input type="checkbox" value="{{ atelier.id }}" name="atelier{{ atelier.id }}">
					<label for="{{ atelier.libelle }}">{{ atelier.id }}.
						{{ atelier.libelle }}</label>
					<br>
				{% endfor %}
			</div>
			<hr>
			<div>
				<div>
					<h2>Réservation Hôtel</h2>
					{% for message in app.flashes('errorNuite') %}
						<div class="alert alert-error">
							{{ message }}
						</div>
					{% endfor %}
				</div>
				{% for hotel in hotels %}
					<div>
						<h4>{{ hotel.nom }}</h4>
						<div>
							{{ hotel.proposers[0].nuites[0].dateNuitee|date('m/d') }}
							{{ hotel.proposers[0].nuites[1].dateNuitee|date('m/d') }}
						</div>
						{% for proposer in hotel.proposers %}
							<div>
								{{ proposer.categorieChambre.libelleCategorie }}
								({{ proposer.tarifNuite }}€/nuit)

								{%for nuite in proposer.nuites %}
									<input type="radio" name="nuit{{ nuite.dateNuitee|date('d') }}" value="{{ nuite.id }}">
								{% endfor %}
							</div>
							<br>
						{% endfor %}

					</div>
				{% endfor %}
			</div>
            <hr>
            <div>Réservation accompagnant(e)</div>

			<button class="btn btn-lg btn-primary" type="submit">
				S'inscrire
			</button>
		</form>
	</div>
{% endblock %}
